@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

.addBlog{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    border: rgba(77, 77, 77, 0.822) 1.6px solid;
    border-radius: 10px;
    margin: 3.5rem auto;
    height: 25rem;
    width: 80%;
}

@media screen and (max-width: 600px) {
    .addBlog{
        margin: 1rem auto;
        height: 22rem;
    }
}

#btnBox{
    display: block;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    color: cadetblue;
    color: rgb(58, 140, 143);
    color: #1d65a8;
    opacity: 0.6;
}

#btnBox:hover{
    opacity: 0.8;
}

#cancelBtn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    color: white;
    top: 1.8rem;
    border: 0px solid rgb(57, 57, 189);
    padding: 0.9rem 1rem;
    background-color: rgb(57, 57, 189);
    border-radius: 6px;
    background-color: rgb(78, 81, 87);
}

@media screen and (max-width:600px) {
    #cancelBtn{
        color: white;
        top: 1.4rem;
        border: 0px solid rgb(57, 57, 189);
        padding: 1rem;
        background-color: rgb(57, 57, 189);
        border-radius: 6px;
        background-color: rgb(46, 49, 56);
    }
    
}

.addBlog .box{
    display: none;
    position: fixed;
    border-radius: 8px;
    top: 0rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    margin: auto;
    background-color: rgb(22, 21, 21);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.822);
}

@media screen and (max-width: 600px) {
    .addBlog .box{
        background-color: rgb(19, 24, 36);
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
 
.addBlog form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    left: 0;
}

@media screen and (max-width:600px) {
    .addBlog form{
        margin: 1rem 0rem;
    }
}

.addBlog form input{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'poppins';
    color: rgb(187, 187, 187);
    height: 1.6rem;
    width: 10%;
    border: 1.5px solid rgb(97, 97, 97);
    margin: 1rem 0.4rem;
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
    background-color: rgb(17, 19, 24);
    background-color: rgb(31, 33, 41);
}

@media screen and (max-width:600px) {
    .addBlog form input{
        width: 30%;
        margin: 0.3rem 0.5rem;
        font-size: 0.8rem;
        background-color: rgb(17, 19, 24);
    }
}


#upImg{
    border: 2px dashed grey;
}

.addBlog form .partOne button{
    border: none;
    outline: none;
    position: absolute;
    background-color: rgb(54, 54, 207);
    background-color: rgb(78, 81, 87);
    font-size: 2rem;
    border-radius: 3px;
    padding: 0rem 1rem;
    color: white;
    display: block;
    cursor: pointer;
    right: 1.1rem;
    top: 5.4rem;
}

@media screen and (max-width: 600px) {
    .addBlog form .partOne button{
        position: absolute;
        top: 4.8rem;
        right: 1.1rem;
        background-color: rgb(46, 49, 56);
    }
}

.addBlog form #desc{
    width: 100%;
    margin-top: 0rem;
    padding: 0.5rem;
    border: 0px solid rgba(92, 92, 92, 0.664);
    box-shadow: 0px 0px 6px black;
    outline: none;
    color: rgb(160, 159, 159);
    color: rgb(187, 187, 187);
    border-radius: 5px;
    height: 38rem;
    word-wrap: normal;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'poppins';
    background-color: rgb(33, 43, 66);
    background-color: rgb(31, 33, 41);
} 

#Input{
    border: 1.6px solid rgba(128, 128, 128, 0.651);
    width: fit-content;
    margin-bottom: 5px;
    color: gray;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    margin-left: 0.5rem;
}

#Input input{
    border: none;
    opacity: 0.8;
    width: 80%;
}

#uploadedImg{
    border: 0px solid white;
    border-radius: 50%;
    position: absolute;
    right: 9rem;
    top: 1.6rem;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

@media screen and (max-width: 600px){
    #uploadedImg{
        display: none;
    }
}



@media screen and (max-width: 600px){
    .addBlog form #desc{
        margin: 0.6rem 0.4rem;
        width: 115%;
        height: 50vh;
        border: none;
        background-color: rgb(17, 19, 24);
        background-color: rgb(33, 43, 66);
    }
}

@media screen and (max-width:600px) {
    #AutName{
        width: 80%;
    }
}