@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

h1{
    color: rgb(39, 39, 223);
    color: rgb(64, 64, 241);
    color: rgb(58, 140, 143);
    color: cadetblue;
    color: #BB86F6;
    color: #add7ff;
    color: #1d65a8;
    text-align: center;
    font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
    h1{
        color: rgb(70, 70, 233);
        color: cadetblue;
        color: #1d65a8;
        font-size: 2.3rem;
    }
}

h1 span{
    color: rgb(138, 134, 134);
    margin: 5px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.App p{
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(107, 106, 106);
}

@media screen and (max-width: 600px) {
    .App p{
        font-size: 1.2rem;
        margin-top: -0.5rem;
    }
}

.tiles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
    margin-bottom: 3rem;
}
@media screen and (max-width: 2000px) {
    
    .tiles{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 2rem;
    }
}
@media screen and (max-width: 1200px) {
    
    .tiles{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    
    .tiles{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 2rem;
    }
}

#displayMode{
    position: absolute;
    top: 3rem;
    right: 6rem;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 1px 1px 15px rgb(92, 91, 91);
}

@media screen and (max-width: 700px){
    #displayMode{
        right: 1rem;
        border-radius: 50%;
        font-size: 12px;
        top: 9rem;
    }
}

