@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

#mainBox{
    color: #5b5757;
}

.tile{
    border: 1.6px solid rgba(77, 77, 77, 0.822);
    width: 70%;
    border-radius: 10px;
    padding: 1rem;
    display: block;
    margin: 1rem auto;
}

@media screen and (max-width:600px) {
    .tile{
        width: 80%;
        padding: 0.6rem;
        border: 1.6px solid rgb(48, 47, 47);
    }
}

.tile #imgMain{
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 0rem;
    width: 100%;
}

.tile .categoryTile{
    border: 0px solid grey;
    font-size: 1rem;
    font-family: poppins;
    border-radius: 4px;
    padding: 0.1rem 0.6rem;
    margin-bottom: 10px;
    margin-top: -1.5rem;
    color: #1d1c1c;
    background: linear-gradient(to left, rgb(75, 129, 201), rgb(55, 55, 206) );
}

@media screen and (max-width:600px){
    .tile .categoryTile{
        border: 0px;
        margin-bottom: 5px;
        background: linear-gradient(to left, #2e74b6, #16538b );
    }
}

.tile .titleTile{
    flex: 1;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border: 0px solid black;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 20px;
    color: rgb(67, 67, 187);
    color: #1d65a8;
}

@media screen and (max-width:600px){
    .tile .titleTile{
        font-size: 1.4rem;
        margin-top: 10px;
    }
}

.tile .desc{
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 0;
    border: 0px solid black;
    height: 3.5rem;
    overflow: hidden;
    text-align: left;
    color: inherit;
}

@media screen and (max-width:600px){
    .tile .desc{
        height: 2.8rem;
        margin-top: 2px;
        font-size: 1rem;
    }
}

.authorDetails{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(77, 77, 77, 0.822);
    border-radius: 10px;
    padding: 0.5rem;
    text-align: top;
}

.tile #autImg{
    display: inline;
    object-fit: cover;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 0;
    margin-right: 0.5rem;
}

.nameDate{
    font-size: 1.05rem;
    font-weight: 500;
    padding: 0.4rem;
}

.visit i{
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    color: rgb(62, 62, 233);
    color: rgb(81, 133, 134);
    color: #1d65a8;
}

@media screen and (max-width: 600px) {
    .visit i{
        color: rgb(81, 133, 134);
        color: #1d65a8;
        margin-left: 0.4rem;
    }
}

.visit i:hover{
    color: #247bcc;
}